html {
  background: #ECEFF1;
  -webkit-font-smoothing: antialiased;
}

.title {
  color: #fff;
  text-align: center;
  background: #455A64;
  padding: 20px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;

}

.weather-box {
  background: #fff;
  color: #263238;
  margin: 0 auto;
  max-width: 800px;
  padding: 2em 2em 4em;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;

}

.day-info {
  display: flex;
  flex-flow: column;

}

.weather-info {
  display: flex;

}

.description {
  align-self: center;
  max-width: 50%;
  margin-left: 40%;
}

.forecast {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
}

.day {
  display: flex;
  flex-flow: column;
  width: 70px;
  text-align: center
}